html,body {margin:0;padding: 0 10px;overflow-y:scroll; overflow-x:none;}
h1 { 
	margin-bottom:0;
}
.notop { margin-top:0; margin-bottom:0; }
#num_bedrooms,#num_bathrooms,#square_footage {
    display: inline-block;
    width: 90px;
    text-align: center;
    float:right;
}
#bedrooms,#bathrooms,#squarefootage { margin-top:6px; }
#reset-sort { display: inline-block; }
.caret-reversed{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#container { 
	/*display: none; */
	overflow: scroll;
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid #444;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:630px;
}
#predict-container, #calculated-container {
	width:370px;
	float:left;
	margin: 10px;
	border: 1px solid #444;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#predict-container {
	padding: 10px 20px;
}
#calculated-container {
	display: none;
	width:240px;
	padding: 10px 20px 30px 20px;
	margin-right:0;
}



#squarefootage-slider { margin-top:7px; margin-right: 20px; }
#bedrooms,#bathrooms,#squarefootage-slider { cursor: pointer; width: 60%; }
#calc-slider { height: 205px; margin-top:20px; }
#calc-slider-hor { width: 80%; margin-left: 20px; margin-top:30px; display:none; }
.quick_button { min-width: 308px; margin:0 0 10px 10px; }
#quick5 { display: none; }
.dataTables_info { display: none; }


@media screen and (max-width: 685px) {
	.quick_button { width: 100%; margin: 0 0 10px 0; }
	#predict-container, #calculated-container { width:100%; margin: 10px 0; } 
	#calculated-container { padding-bottom: 0; width:100%; }
	#container { width: 100%; margin:0; padding: 10px 0; }
	#rental-data-title { margin-left:20px; }
	#calc-slider { display:none; }
	#calc-slider-hor { display:block; margin-right:auto; margin-left:auto; }
	#calc-slider-hor .slider-tick-label { padding-top: 25px; }
	#suggested-price-title { margin: 10px 0 35px 0;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	select:focus, textarea:focus, input:focus { font-size: 16px; background: #eee; }
	select,	textarea, input { font-size: 16px; }
}
.clear { clear:both; height:1px; }